*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;

  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;

  background-color: #fb565a;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*header*/

.header {
  padding-top: 49px;

  background-color: #eeeeee;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-logo img {
  display: block;
  width: 160px;
  height: 65px;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 520px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: block;
  padding-top: 25px;
  padding-right: 26px;
  padding-bottom: 16px;
  padding-left: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:active {
  color: #000000;

  opacity: 0.3;
}

.nav-link.current {
  color: #000000;
}

.nav-link.current:active {
  opacity: 1;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  right: 26px;
  bottom: 10px;
  left: 20px;

  height: 2px;

  background-color: #fb565a;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 115px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.cart {
  position: relative;

  padding-left: 20px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 2px;

  width: 15px;
  height: 15px;

  background: url("../img/cart-icon.svg") no-repeat 0 0;
}


/*slider*/

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 530px;
  padding-top: 72px;
  padding-bottom: 80px;

  word-break: break-word;
}

.slider-slogan {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  margin: 0;
  margin-bottom: 39px;
  padding-right: 100px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slider-item:first-child {
  display: block;

  background: url("../img/slide1.png") no-repeat 430px 10px;
}

.slider-item:nth-child(2) {
  display: none;

  background: url("../img/slide2.png") no-repeat 493px 0;
}

.slider-item:last-child {
  display: none;

  background: url("../img/slide3.png") no-repeat 400px 10px;
}

.slider-button {
  max-width: 242px;
  padding-top: 17px;
  padding-right: 55px;
  padding-bottom: 15px;
  padding-left: 53px;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  color: #e26f72;

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.slider-controls {
  position: absolute;
  bottom: 90px;
  left: 675px;
  z-index: 2;

  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 18px;

  vertical-align: top;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;

  background-color: transparent;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/*service*/

.service {
  padding-top: 80px;
  padding-bottom: 80px;

  border-bottom: 1px solid #eeeeee;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.service-item {
  width: 300px;
  margin-right: 100px;
}

.service-item:nth-child(3n) {
  margin-right: 0;
}

.service-img {
  margin-bottom: 19px;
}

.service-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text {
  width: 250px;
  margin-bottom: 31px;
}

.service-button {
  max-width: 162px;
  padding-top: 16px;
  padding-right: 39px;
  padding-bottom: 15px;
  padding-left: 40px;
}

.service-item:nth-child(1) .service-button:hover {
  background-color: #e74246;
}

.service-item:nth-child(1) .service-button:active {
  color: #e26e72;

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.service-item:nth-child(2) .service-button {
  background-color: #00ca74;
}

.service-item:nth-child(2) .service-button:hover {
  background-color: #00bc6c;
}

.service-item:nth-child(2) .service-button:active {
  color: #49c28f;

  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.service-item:nth-child(3) .service-button {
  background-color: #efc84a;
}

.service-item:nth-child(3) .service-button:hover {
  background-color: #eab534;
}

.service-item:nth-child(3) .service-button:active {
  color: #ecc060;

  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*company*/
.company {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 47px;

  border-bottom: 2px solid #eeeeee;
}

.left-column {
  width: 650px;
}

.right-column {
  width: 360px;
}

.company-logo {
  display: block;
}

.right-column .company-advantages {
  padding-left: 18px;
}

.company-slogan {
  margin: 0;
  margin-top: 35px;
  padding: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.company-about {
  width: 620px;
  margin: 0;
  margin-top: 35px;

  color: #283136;
}

.company-advantages {
  margin: 0;
  margin-top: 38px;

  font-weight: 700;
  text-transform: uppercase;
}

.company-list {
  margin: 0;
  margin-top: 23px;
  padding: 0;

  list-style-type: none;
}

.company-item {
  position: relative;

  margin-bottom: 25px;
  padding-left: 36px;

  color: #283136;
}

.company-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #d7373b;
}

.table-advantages {
  width: 350px;
  margin-top: 55px;
}

.table-date {
  padding-right: 20px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
}

.table-date sup {
  top: -0.7em;

  font-size: 50%;
}

.table-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #283136;
}

/*clients*/
.clients {
  margin-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.client-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.client-list li {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.client-list li::after {
  content: "";
  position: absolute;
  top: 64px;
  right: 0;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.client-list li:last-child::after {
  width: 0;
  height: 0;
}

.client-link {
  display: block;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 39px;
  padding-left: 50px;

  opacity: 0.3;
}

.client-link:hover {
  opacity: 1;
}

.client-link:active {
  opacity: 0.1;
}

/*social*/

.socials {
  display: flex;
  margin-top: 68px;
  margin-bottom: 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 273px;
  margin: 0;
  margin-right: 125px;
  padding: 0;

  list-style-type: none;
}

.social-item {
  margin: 0;
  margin-right: 12px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  color: #ffffff;

  background-color: #e1e1e1;
  border-radius: 50px;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;

  fill-opacity: 0.3;
}

/*promo*/

.social-promo {
  width: 550px;
  padding-top: 7px;
}

.promo-slogan {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.promo-text {
  margin-top: 10px;

  line-height: 22px;
  color: #444444;
}

/*catalog page*/

.page-title {
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 105px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.catalog {
  width: 760px;
  margin-top: 55px;
}


/*range filter*/

.price-filter {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.price-filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  margin-left: 10px;
  padding: 10px;

  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

/*sorting filter*/

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
}

.sorting p {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  margin-left: 265px;
  padding: 0;

  list-style-type: none;
}

.sorting-list li {
  padding-top: 2px;
  padding-right: 26px;
}

.sorting-list li:last-child {
  padding-right: 0;
}

.sorting-link {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.3;
}

.sorting-link:last-child {
  margin-right: auto;
}

.sorting-link.current {
  opacity: 1;
}

.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link:active {
  opacity: 1;
}

.arrows {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.arrow {
  text-decoration: none;

  opacity: 0.2;
}

.arrow-down {
  margin-right: 18px;
}

.arrow.current {
  color: #000000;

  opacity: 1;
}

.arrow:hover {
  opacity: 1;
}

/*catalog*/

.main .container {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style-type: none;
}

.catalog-item {
  position: relative;

  margin-bottom: 31px;
  padding-top: 40px;

  border: 1px solid rgba(0, 1, 1, 0.1);
  border-radius: 5px;
}

.catalog-item img {
  display: block;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 40px;

  background: url("../img/browser.svg") no-repeat 0 0;
  opacity: 0.2;
}

.catalog-item:hover {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}

.catalog-item:hover .catalog-popup {
  display: block;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-popup {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  width: 100%;
  min-height: 231px;
  padding-top: 26px;
  padding-right: 60px;
  padding-bottom: 43px;
  padding-left: 60px;

  text-align: center;

  background: #eeeeee;
}

.popup-wrap {
  padding-right: 21px;
  padding-left: 21px;
}

.popup-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.popup-title a {
  color: #000000;
  text-decoration: none;
}

.popup-title a:hover {
  color: #fb565a;
}

.popup-title a:active {
  color: #000000;

  opacity: 0.3;
}

.popup-text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  line-height: 18px;
  text-align: center;
  color: #666666;
}

.popup-button {
  max-width: 200px;
  padding-top: 16px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
}

.popup-button:hover {
  background-color: #e74246;
}

.popup-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*filter*/

.filters {
  width: 265px;
  margin-top: 55px;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.filter legend {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter fieldset {
  padding: 0;

  border: 0;
}

.filter-label {
  position: relative;

  display: block;
  margin-top: 19px;
  padding-left: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  cursor: pointer;
}

.filter-option {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-left: 25px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-radio:disabled + label {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.1;
}

.grid-filter {
  margin-bottom: 30px;
}

.features-filter {
  margin-bottom: 35px;
}

.filter-button {
  padding-top: 17px;
  padding-right: 89px;
  padding-bottom: 14px;
  padding-left: 89px;

  color: #000000;

  background-color: #eeeeee;
  border: 0;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*contacts*/

.contacts {
  position: relative;

  height: 416px;
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  left: 50%;

  width: 1440px;
  height: 416px;

  transform: translateX(-50%);
}

.contacts-card {
  position: absolute;
  bottom: 63px;

  max-width: 319px;
  margin-top: 55px;
  padding-top: 48px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 50px;

  background-color: #ffffff;
}

.card-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.card-text {
  padding-top: 4px;
  padding-right: 5px;

  line-height: 18px;
  color: #666666;
}

.tel {
  color: #666666;
  text-decoration: none;
}

.contacts-button {
  max-width: 220px;
  margin-top: 20px;
  padding-top: 16px;
  padding-right: 44px;
  padding-bottom: 16px;
  padding-left: 44px;
}

.contacts-button:hover {
  background-color: #e74246;
}

.contacts-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*pagination*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 58px;
  padding: 0;

  list-style-type: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  padding-top: 14px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 18px;

  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #eeeeee;
  border: 3px solid transparent;
  border-radius: 2px;
}

.pagination-link.current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-link.current:hover {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-link.current:active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  box-shadow: none;
  opacity: 1;
}

.pagination-link.next {
  padding-right: 73px;
  padding-left: 73px;
}

.pagination-link:hover {
  background-color: #dfdfdf;
}

.pagination-link:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/*modal*/
.modal {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 3;

  display: none;
  min-width: 960px;
  min-height: 590px;
  margin-left: -480px;
  padding-top: 53px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 99px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal-form legend {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

.modal-form fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.modal-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 32px;
}

.form-label {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

.form-input {
  width: 360px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 14px;
}

.message-form {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 14px;
}

.form-field {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.form-field:hover {
  background-color: #ffffff;
  border: 2px solid #b4b9bb;
}

.form-field:focus {
  border: 2px solid #000000;
  outline: none;
}

.form-field:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.form-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #444444;

  opacity: 0.5;
}

.form-field:focus::placeholder {
  opacity: 1;
}

.submit-button {
  padding-top: 14px;
  padding-right: 84px;
  padding-bottom: 14px;
  padding-left: 82px;
}

.submit-button:hover {
  background-color: #e74246;
}

.submit-button:active {
  background-color: #d7373b;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-close {
  position: absolute;
  top: 65px;
  right: 95px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background: url("../img/close-cross.svg") no-repeat;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

@keyframes bounce {
  0% {
    transform: translateY(-50%);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.5s;
}
