*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px, 1px, 1px, 1px);
}

.button {
  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border: 0;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*header*/

.header {
  padding-top: 1px;

  background-color: #eeeeee;
}

.nav {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
}

.main-logo {
  width: 160px;
  height: 65px;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  width: 438px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.user-nav {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav-link {
  display: inline-block;
  padding-top: 34px;
  padding-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:active {
  color: #000000;

  opacity: 0.3;
}

/*slider*/

.slider-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider-1 {
  background: url("../img/slide1.png") no-repeat top right;
}

.slider-1 p {
  width: 380px;
}

.slider-2 {
  background: url("../img/slide2.png") no-repeat top right;
}

.slider-2 p {
  width: 530px;
}

.slider-3 {
  background: url("../img/slide3.png") no-repeat top right;
}

.slider-3 .slider-slogan {
  width: 410px;
}

.slider-3 .slider-text {
  width: 345px;
}

.slider-2,
.slider-3 {
  display: none;
}

.slider-slogan {
  margin: 0;
  margin-top: 67px;
  padding: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  margin-top: 28px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slider-button {
  margin-top: 42px;
  margin-bottom: 80px;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  color: #e26f72;

  background-color: #d7373b;
}

/*service*/

.service {
  margin-top: 80px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.service-item {
  width: 300px;
}

.service-title {
  margin-top: 26px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text {
  width: 250px;
  margin-top: 26px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.service-item .button {
  margin-top: 35px;
  margin-bottom: 80px;
}

.web-button:hover {
  background-color: #e74246;
}

.web-button:active {
  color: #e26e72;

  background-color: #d7373b;
}

.app-button {
  background-color: #00ca74;
}

.app-button:hover {
  background-color: #00bc6c;
}

.app-button:active {
  color: #49c28f;

  background-color: #00aa62;
}

.presentation-button {
  background-color: #efc84a;
}

.presentation-button:hover {
  background-color: #eab534;
}

.presentation-button:active {
  color: #ecc060;

  background-color: #e5a722;
}

/*company*/

.company-slogan {
  margin-top: 80px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.company-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.company-advantages {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.company-list {
  list-style-type: none;
}

.company-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.table-date {
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
}

.table-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

/*clients*/

.client-list {
  list-style-type: none;
}

.client-link {
  opacity: 0.3;
}

.client-link:hover {
  opacity: 1;
}

.client-link:active {
  opacity: 0.1;
}

/*social*/

.socials .container {
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
}

.social-list {
  display: flex;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style-type: none;
}

.social-item {
  margin: 0 auto;
}

.social-link {
  display: inline-block;
  width: 80px;
  height: 80px;

  vertical-align: middle;
  color: #ffffff;

  background-color: #e1e1e1;
  border-radius: 50px;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
}

/*promo*/

.social-promo {
  width: 550px;
  padding-top: 10px;
}

.promo-slogan {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.promo-text {
  margin-top: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/*catalog page*/

.page-title {
  margin: 0;
  padding: 0;
  padding-top: 82px;
  padding-bottom: 116px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

/*range filter*/

.min-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.max-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.controls-input {
  background-color: #eeeeee;
  border: 0;
}

/*sorting filter*/

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sorting-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.3;
}

.sorting-link.current {
  opacity: 1;
}

.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link:active {
  opacity: 1;
}

.arrow {
  text-decoration: none;

  background-color: #a6a6a6;
  opacity: 0.2;
}

.arrow.current {
  color: #000000;

  background-color: #000000;
  opacity: 1;
}

.arrow:hover {
  background-color: #a6a6a6;
  opacity: 1;
}

.arrow:active {
  background-color: #000000;
}

/*catalog*/

.main .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-item {
  margin-bottom: 33px;
}

.catalog-popup {
  display: none;
}

/*filter*/

.filters {
  width: 265px;
}

.filter-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;

  list-style-type: none;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter fieldset {
  margin-top: 60px;

  border: 0;
}

.filter-label {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
  border: 0;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;

  background-color: #d5d5d5;
}

/*contacts*/

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.tel {
  color: #666666;
  text-decoration: none;
}

/*pagination*/

.pagination {
  list-style-type: none;
}

.pagination-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;

  background-color: #eeeeee;
}

.pagination-link.current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-link:hover {
  background-color: #dfdfdf;
}

.pagination-link:active {
  background-color: #b89999;
  opacity: 0.3;
}

/*modal*/
.modal {
  display: none;
}
